# Data frame creation and manipulation

In [30]:
import pandas as pd

data = {
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Vikith', 'Aarav', 'Chirag', 'Deepa', 'Vaani', 'Shahid', 'Gauri', 'Harsh', 'Kiran', 'Jatin'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F'],
    'Marks1': [78, 85, 67, 90, 56, 45, 72, 88, 95, 60],
    'Marks2': [82, 39, 74, 65, 47, 50, 40, 38, 91, 55],
    'Marks3': [88, 77, 69, 94, 58, 46, 73, 80, 85, 62]
}

df = pd.DataFrame(data)
print(df)

   Roll Number    Name Gender  Marks1  Marks2  Marks3
0            1  Vikith      F      78      82      88
1            2   Aarav      M      85      39      77
2            3  Chirag      M      67      74      69
3            4   Deepa      M      90      65      94
4            5   Vaani      F      56      47      58
5            6  Shahid      M      45      50      46
6            7   Gauri      F      72      40      73
7            8   Harsh      F      88      38      80
8            9   Kiran      M      95      91      85
9           10   Jatin      F      60      55      62

In [2]:
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number    Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1   Aarav      F      78      82      88          248
1            2  Vikith      M      85      39      77          201
2            3  Chirag      M      67      74      69          210
3            4   Deepa      M      90      65      94          249
4            5   Vaani      F      56      47      58          161
5            6  Shahid      M      45      50      46          141
6            7   Gauri      F      72      40      73          185
7            8   Harsh      F      88      38      80          206
8            9   Kiran      M      95      91      85          271
9           10   Jatin      F      60      55      62          177

In [32]:
lowestM1 = df['Marks1'].min()
print(lowestM1)

45

In [33]:
highestM2 = df['Marks2'].max()
print(highestM2)

91

In [34]:
avg = df['Marks3'].mean()
print(avg)

73.2

In [35]:
df['Average Marks'] = df[['Marks1','Marks2','Marks3']].mean(axis=1)
stavg = df.loc[df['Average Marks'].idxmax(), 'Name']
print(stavg)

Kiran

In [36]:
failedm2 = df[df['Marks2'] < 40].shape[0]
print(failedm2)

2

In [37]:
#extra
names = df[df['Marks2'] < 40]['Name']
print(names.tolist())

['Aarav', 'Harsh']